<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/index.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/index.html">워크샵</a>
				</li>			
			{% endif %}

			{% if page.path == "sleep.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/sleep.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/sleep.html">주무실곳</a>
				</li>			
			{% endif %}

			{% if page.path == "activity.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/activity.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/activity.html">즐기실것</a>
				</li>			
			{% endif %}

			{% if page.path == "food.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/food.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/food.html">잡수실것</a>
				</li>			
			{% endif %}

			{% if page.path == "timetable.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/timetable.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/timetable.html">일정계획</a>
				</li>			
			{% endif %}

			{% if page.path == "car_group.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/car_group.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/car_group.html">이동계획</a>
				</li>			
			{% endif %}

			{% if page.path == "to_be_continued.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/to_be_continued.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/to_be_continued.html">조배정표</a>
				</li>			
			{% endif %}

			{% if page.path == "money.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/money.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/money.html">지출내역</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">조직도</a>
				</li>			
			{% endif %}

			{% if page.path == "wanted.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/wanted.html">채널쵝오♥️</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/wanted.html">(종료)인재채용</a>
				</li>			
			{% endif %}

				<li>
					<a href="https://open.kakao.com/o/g1LAA0K">워크샵고객센터</a>
				</li>

		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
