<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/index.html">워크샵</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/index.html">워크샵</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">주무실곳</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">주무실곳</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">일정계획</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">일정계획</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">위원소개</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">위원소개</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">조배정표</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">조배정표</a>
				</li>			
			{% endif %}

			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/Kabang.Channel.WPC/about.html">소원을말해봐</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/Kabang.Channel.WPC/about.html">소원을말해봐</a>
				</li>			
			{% endif %}

		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
